*{
    padding: 0;
    margin: 0;
}

.body{
    background-color: #5089C6;
    font-family: 'Iceland', cursive;
    color: white;
    width: 100%;
    height: auto;
}
.navbar{
    /* display: grid;
    grid-template-columns: 0.2fr 0.6fr 0.4fr; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav{
    text-align: left;
} 

.nav ul{
    display: flex;
    list-style: none;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    flex-shrink: 0;
   
}

.navbar ul li{
    margin: 15px 10px;
    padding: 12px;
    
}

.navbar ul li a{
    position: relative;
    text-decoration: none;
    color: black;
    padding: 0 10px;
    color: white;
    font-size: 24px;
}

.btn{
    display: flex;
    /* float: left; */
}

.btn a{
    margin: 15px 10px;
    padding: 12px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 24px;
}

.logo{
    width: 200px;
    height: 200px;
}
.logo img{
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.nav a:after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: white;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .nav a:hover{
    color: #DCDCDC;
  }
  .nav a:hover:after{
    width: 100%;
  
  }

.btn span{
    padding-left: 10px;
}

.product-container{
    max-width: 1260px;
    justify-content: space-around;
    margin: 0 auto;
    /* margin-top: 50px; */
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
    justify-content: center;
    /* margin-left: 80px; */
}

.header{
    width: 100%;
    /* max-width: 650px; */
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid white;
    margin: 0 auto;
}

.product_name{
    width: 75%;
    text-align: center;
}

.price{
    width: 25%;
    /* padding-left: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid white; */
}

.total{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* border-bottom: 1px solid white; */
}

.product-container i{
    font-size: 18px;
    color: red;
    margin: 0 10px;
    cursor: pointer;
}

.products{
    display: flex;
    /* gap: 10px; */
    flex-wrap: wrap;
    width: 100%;
}
.product{
   width: 75%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 10px 0;
   border-bottom: 1px solid white;
   /* padding-left: 10px; */
   gap: 50px;
   font-size: 26px;
}

.product img{
    width: 45%;
    height: auto;
}

/* .product i{
    padding-bottom: 52px;
    align-items: center;
} */

.cost{
    width: 25%;
    /* padding-left: 20px; */
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    justify-content: center;
    font-size: 24px;
}

.total_products{
    width: 30%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    justify-content: center;
    font-size: 24px;

}

.basketTotal{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

.footer{
    left: 0;
    bottom: 0;
    width: auto;
    background-color: black;
    font-family: 'Iceland', cursive;
    color: white;
    text-align: left;
    margin-top: 500px;
    font-size: 28px;
    padding-left: 30px;
    /* height: 15vh; */
    display: flex;
    align-items: center;
    height: 15vh;
}

.payment_btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}

.payment_btn button{
    width: 200px;
    height: 50px;
    font-family: 'Iceland', cursive;
    font-size: 24px;
    color: white;
    background-color: blue;
    border: none;
}

